<div class='container'>
  <div class='row mt-5'>
    <div class="col-md-7 mx-auto">
      <h1>ようこそ <i class="fas fa-motorcycle mb-5"></i><strong>CB-Ride</strong>へ!</h1>
      <p>バイクが趣味、興味がある方を対象にしたサイトです。</P>
      <p>愛車やツーリング先、駐輪場情報など、何でも気軽に投稿して頂いて構いません。</p>
      <p>コメント機能やフォロー機能により、バイク仲間と繋がることができます。</p>
    </div>
  </div>
</div>